main {
	height:70em;
	background-color:#E9EBEE
}

.main-container {
	height:auto;
	width:85%;
	margin:0 auto;
	position:relative;
	top:4.7em;
	text-align:center;
}

#started {
	padding-bottom:5em;
}

.form-container {
	background-color:#FFFFFF;
	margin:0.7em;
	border-radius:0.3em;
	padding:0 0.4em 0 0.4em;
	height:auto;
}

.member-input {
	margin:1em auto;
	height:2em;
	width:24%;
	font-size: 1em;
}


.year, .gender{
	height:2.4em;
	width:24%;
	position:relative;
	top:50%;
	font-size:1em;
}

.partner {
	display:block;
	margin:1.2em auto;
	height:2.3em;
	width:7.7em;
	font-size:1em;
	border:none;
	background-color: #DCDBDA;
	-o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.partner:hover {
	background-color:#282828;
	color:white;

}

/*-------Mobile Rules-------*/

@media only screen and (max-width: 777px) {
    .main-container {
        width:100%;
    }
}